.App {
  min-height: 100vh;
  overflow: hidden;
  background-color: rgb(2, 2, 2);
  text-align: center;
  position: relative;
  /* CSS Reset */
  margin: 0;
  padding: 0;
}

h1 {
  color: grey;
}

#background-image {
  /* why does images map have to be in src? */
  background-image: url(./images/backgroundImage1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 80vh;
  /* centering */
  display: grid;
  align-items: center;
  justify-content: center;
}

#quote-box {
  background-color: black;
}

#text {
  color: white;
  /* text to stay witihin its div */
  white-space: wrap;
  width: 60vh;
  text-overflow: clip;
  margin: 10px;
}

#author {
  font-size: 16px;
  color: black;
  background-color: red;
  /* position */
  padding: 10px;
}

#new-quote {
  /* button style */
  background-color: gray;
  border-radius: 10px;
  color: black;
  margin: 15px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  /* position */
  min-width: 1px;
}

#footer {
  background-color: red;
  color: black;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  height: 5%;
}
